@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Press+Start+2P&display=swap");

.btn-success {
  background: rgb(46, 190, 46);
  height: 40px;
  border-radius: 10px;
  border: green;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}
.btn-danger {
  background: red;
  height: 40px;
  border-radius: 10px;
  border: green;
  color: white;
  cursor: pointer;
}
hr {
  background: gray;
  height: 50px;
}
.primer-titulo > h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: end;
  color: black;
}

#tareas {
  margin-right: 10px;
  font-family: "Cinzel", serif;
}

#btn-agregar {
  background: blue;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 170px;
  height: 30px;
}

#input {
  margin-bottom: 5px;
  height: 30px;
}

#input::placeholder {
  text-align: center;
  color: #6f6f6f;
}

.container1 {
  border: 1px solid black;
  /* box-shadow: 1px 1px 40px 1px black; */
  margin: 1%;
  padding: 10%;
}
.li {
  border: 1px solid black;
  font-family: "Cinzel", serif;
  width: 99%;
}

.contador {
  border-radius: 50px;
  border: solid 2px black;
  width: 50px;
  height: 50px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-delete {
  height: 20px;
  margin-top: 13px;
  margin-right: 10px;
}

.li-container {
  background-color: white;
  font-family: "Cinzel", serif;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}
li {
  list-style: none;
  border-radius: 20px;
  font-family: "Cinzel", serif;
  margin-top: 20px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  font-family: "Cinzel", serif;
  width: 94%;
}
.parrafo {
  text-align: center;
}

.fa-trash {
  margin-top: 15px;
  width: 30px;
}

.fa-trash:hover {
  cursor: pointer;
}

.btnCheckBox:hover {
  cursor: pointer;
}
.btnCheckBox {
  font-weight: bold;
  line-height: 3em;
  color: #ccc;
  cursor: pointer;
}
.li {
  border: 1px solid black;
  font-family: "Cinzel", serif;
}
.li > i {
  color: red;
}
#input {
  border-radius: 10px;
  border: white;
}
#btn-agregar {
  border-radius: 10px;
}
.container {
  color: black;
  font-family: "Permanent Marker", cursive;
}
.container1 {
  border: 1px solid black;
  box-shadow: 1px 1px 40px 1px black;
}
.contador {
  border: solid 2px black;
}
hr {
  height: 25px;
  background-image: radial-gradient(
    circle at 50% 50%,
    #00ffff 0,
    #00ffff 16.67%,
    #00e3ff 33.33%,
    #0cc1ed 50%,
    #30a0c7 66.67%,
    #3983a4 83.33%,
    #3a6a84 100%
  );
  box-shadow: 1px 1px 30px 4px;
}
body {
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
}

.colores {
  /* background: linear-gradient(blue, pink); */
  height: 100%;
}
.primer-titulo > h2 {
  color: black;
  font-family: "Tilt Prism", cursive;
  /* box-shadow: 6px 4px 23px 5px; */
}
form > button,
form > input {
  margin-left: 22px;
  margin-bottom: 30px;
}

.container {
  margin-top: -100px;
}
@media (min-witdh: 200px) and (max-witdh: 600px) {
  body {
    background: blue;
  }
}

@media (max-width: 600px) {
  .btnCheckBox {
    font-weight: bold;
    line-height: 3em;
    color: #ccc;
    cursor: pointer;
  }
  .li {
    border: 1px solid black;
    font-family: "Cinzel", serif;
    font-family: cursive;
  }
  .li > i {
    color: red;
  }
  #input {
    border-radius: 10px;
    font-family: "Cinzel", serif;

    border: white;
  }
  #btn-agregar {
    border-radius: 10px;
    font-family: "Cinzel", serif;
  }
  .container {
    color: black;
    font-family: "Cinzel", serif;
  }
  .container1 {
    border: 1px solid black;
    box-shadow: 1px 1px 40px 1px black;
  }
  .contador {
    border: solid 2px black;
  }
  hr {
    height: 25px;
    background-image: radial-gradient(
      circle at 50% 50%,
      #00ffff 0,
      #00ffff 16.67%,
      #00e3ff 33.33%,
      #0cc1ed 50%,
      #30a0c7 66.67%,
      #3983a4 83.33%,
      #3a6a84 100%
    );
    box-shadow: 1px 1px 30px 4px;
  }
  body {
    background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
  }

  .colores {
    /* background: linear-gradient(blue, pink); */
    height: 100%;
  }
  .primer-titulo > h2 {
    color: black;
    font-family: "Cinzel", serif;
    /* box-shadow: 6px 4px 23px 5px; */
  }
  form > button,
  form > input {
    margin-left: 200px;
    margin-bottom: 30px;
  }

  .container {
    margin-top: -100px;
  }

  @media (max-width: 600px) {
    form > input,
    form > button {
      margin-left: 5px;
      width: 100px;
    }

    .parrafo {
      margin-top: 50px;
      color: black;
      font-family: "Cinzel", serif;
    }
  }

  #btn-agregar {
    width: 100px;
  }

  #tareas {
    font-size: 10px;
  }

  /* @media (max-width: 500px) {
  .container1 {
    min-height: 100px;
  } */
}
